@charset "utf-8";

* {
    padding: 0;
    border: 0;
    margin: 0;
    display: inline-block;
    box-sizing: border-box;
}

head, script {
    display: none;
}

body {
    position: relative;
    height: 97vh;
    width: 100vw;
    background-color: black;
}

section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 406px;
    width: 306px;
    border: 3px solid white;
    border-radius: 5px;
    background-color: black;
    padding: 15px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
    font-size: 0;
}

#board {
    height: 272px;
    width: 272px;
    border: 1px solid white;
    background-color: white;
    overflow: hidden;
    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.6);
}

.color {
    height: 50px;
    width: 50px;
    border: 1px solid black;
    border-radius: 20px;
    margin: 29px 0px;
}

.color:active {
    border: 3px solid black;
}

#r {
    background-color: #FC6042;
}

#blockr {
    background-color: #FC6042;
}

#g {
    background-color: #2CC990;
    margin-left: 10px;
    margin-right: 10px;
}

#blockg {
    background-color: #2CC990;
}

#b {
    background-color: #2C82C9;
}

#blockb {
    background-color: #2C82C9;
}

#blockr, #blockg, #blockb, #blockwhite, #blockblack {
    width: 22.5px;
    height: 22.5px;
    font-size: 16px;
}

.special {
    width: 30px;
    height: 30px;
    border-radius: 13px;
    margin-bottom: 39.5px;
    margin-top: 39.5px;
}

#black {
    background-color: black;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid white;
}

#black:active {
    border: 3px solid white;
}

#blockblack {
    background-color: black;
}

#white {
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid black;
}

#white:active {
    border: 3px solid black;
}

#blockwhite {
    background-color: white;
}

#clear, #undo {
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 49vw;
    border: 2px solid white;
    text-align: center;
    color: white;
    font-family: monospace;
    font-size: 2em;
    line-height: 50px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.6);
}

#clear:active, #undo:active {
    font-weight: bold;
    border: 3px solid white;
}

#clear {
    left: 0.5vw;
}

#undo {
    right: 0.5vw;
}